<h1 class ="unusable"> unusable space </h1> <br> <br>

<% if current_user && current_user.is_vineyard %>
    <p> Because you are a vineyard you can <strong> create an address that draws a balance from our testnet coin stash</strong>.<br> 
    </p>
  <%= link_to "Register a new bottle", new_wine_faucet_path%>

<% end %> 
<!-- ends if statement -->

  <% if flash.now[:notice] %>
    <div class="notice"><%= flash.now[:notice] %></div>
  <% end %>
   
  
  <h2>Most Recent Bottle</h2>
  <% if @user.addresses.count > 0 %>
    <hr>
    <ul>
      <li>Address: <%=@user.addresses.last.btc_address%></li>
      <li>Created at <%=@user.addresses.last.created_at%></li>
      <li>Address ID #<%=@user.addresses.last.id%>.</li>
      <li>Belongs to user #<%=@user.addresses.last.user_id%>.</li>
      <li>Description: <%=@user.addresses.last.description%>.</li>
    </ul>
    <hr>



    <h2>Your Current Cellar:</h2>
    <%=@current_bottles.map do |ad| %> 
      <ul>
        <li>Bitcoin address: <%= ad.btc_address %></li>
        <li>Address ID #<%= ad.id%>.</li>
        <li>Bottle description: <%= ad.description %></li>
        <li>Belongs to user #<%=ad.user_id%>.</li>
        <%= form_for :address, :url => {:action=>"create", :controller=>"transactions"} do |f| %>
          <%= f.hidden_field :address_description, :value => ad.description %>
          <%= f.hidden_field :sending_btc_address, :value => ad.btc_address %>
          <%= f.hidden_field :sending_private_key, :value => ad.private_key %>
          <%= f.collection_select( :user_id, @all_users, :id, :name, {:prompt => true}) %>
          <%= f.submit "Sell" %> 
        <% end %> 
        <!-- ends do block for sell form -->

        <%= form_for :address, :url => {:action=>"create", :controller=>"verifications"} do |f| %>
          <%= f.hidden_field :sending_btc_address, :value => ad.btc_address %>
          <%= f.submit "Verrrrrify" %> 
        <% end %>
        <!-- ends do block for verify form -->

        <%= form_for :address, :url => {:action=>"create", :controller=>"histories"} do |f| %>
         <%= f.hidden_field :sending_btc_address, :value => ad.btc_address %>
         <%= f.submit "Get History" %> 
      </ul>
        <% end %>
        <!-- ends do block for get history form -->

    <hr>
    </br>
    <% end %> <br> <br>
    <!-- end map current bottles -->

    <!-- former cellar starts here -->
    <h2>Your Former Cellar:</h2>
    <%= @former_bottles.map do |ad| %> 
      <ul>
        <li>Bitcoin address: <%= ad.btc_address %></li>
        <li>Address ID #<%= ad.id%>.</li>
        <li>Bottle description: <%= ad.description %></li>

        <%= form_for :address, :url => {:action=>"create", :controller=>"verifications"} do |f| %>
          <%= f.hidden_field :sending_btc_address, :value => ad.btc_address %>
          <%= f.submit "Verrrrrify" %> 
        <% end %>
        <!-- ends do block for verify form -->

        <%= form_for :address, :url => {:action=>"create", :controller=>"histories"} do |f| %>
         <%= f.hidden_field :sending_btc_address, :value => ad.btc_address %>
         <%= f.submit "Get History" %> 
      </ul>
        <% end %>
        <!-- ends do block for get history form -->

      <hr>
      </br>
    <% end %> <br> <br>
    <!-- end map former bottles -->
    
  <% end %>
  <!-- ends if @user.addresses.count -->



  
