  <h1>unusable space</h1><br><br><br><br>

  <h2>Your Wine Cellar:</h2>
  <hr>
  <strong>Most recent bottle created:</strong>
  <ul>
    <li>Address: <%=@user.addresses.last.btc_address%></li>
    <li>Created at <%=@user.addresses.last.created_at%></li>
    <li>Address ID #<%=@user.addresses.last.id%>.</li>
    <li>Belongs to user #<%=@user.addresses.last.user_id%>.</li>
  </ul>
  <hr>

  <strong>Your current cellar:</strong>
  <%= @user.addresses.map do |ad| %> 
    <ul>
      <li>Bitcoin address: <%= ad.btc_address %></li>
      <li>Address ID #<%= ad.id%>.</li>
      <li>Belongs to user #<%=ad.user_id%>.</li>
      <%= form_for :address, :url => {:action=>"create", :controller=>"transactions"} do |f| %>
        <%= f.hidden_field :address_description, :value => ad.description %>
        <%= f.hidden_field :sending_btc_address, :value => ad.btc_address %>
        <%= f.hidden_field :sending_private_key, :value => ad.private_key %>
        <%= f.collection_select( :user_id, @all_users, :id, :name, {:prompt => true}) %>
        <%= f.submit "Sell" %> 
        </ul>
        <% end %>
    </br>
  <% end %> 

    <strong>Your former cellar:</strong>
      Insert former bottles here

