<script>

function hideStuff(){
  $('.gallery-description').parent().mouseenter(function(){
    $(this).children().not('.' + 'gallery').css('visibility','visible');
 })
  $('.gallery-description').parent().mouseleave(function(){
    $(this).children().not('.' + 'gallery').css('visibility','hidden');
  })
};


$(document).ready(function(){
  hideStuff();
})

</script>


<%= render "layouts/nav_bar" %>

<div class="jumbotron">
  <div class="container ">
    <h1>Your Wine Cellar </h1>
    <br><br><br><br>
    <% if current_user && current_user.is_vineyard %>
      <h3 class='title'> 
        <%= link_to "Register a new bottle", new_wine_faucet_path, method: :get %> 
      </h3>
    <% end %> 
  </div>
</div>
          
<!-- CURRENT BOTTLES-->

<section class="module current">
  <div class="container">

    <% if flash[:notice] %>
          <div class="notice" >
            <%= flash[:notice] %>
          </div>
    <% end %>
        
            <h2 class='title'> 
              Current Bottles 
            </h2>
            <br><br>
            <div class="row multi-columns-row">
             
              
          <!-- Gallery item start --> 

              <% @current_bottles.map do |ad| %>
                <div class="col-sm-6 col-md-3 col-lg-3">
                  <div class="gallery-item">
          
                  <%=image_tag(ad.avatar.url(:thumb), :class => "gallery")%>
                    <div class="gallery-description">
                      <div class="blocktrail"><a href="https://www.blocktrail.com/tBTC/address/<%=ad.btc_address%>"><%=ad.stringified_description%></a></div>


                      <%= form_for :address, :url => {:action=>"create", :controller=>"verifications"} do |f| %>
                        <%= f.hidden_field :sending_btc_address, :value => ad.btc_address %>
                        <%= f.submit "Status", :class => 'verify_button btn btn-w btn-round btn-m' %> 
                      <% end %>
                      <!-- closes verify create (VERIFY) -->

                      <%= form_for :address, :url => {:action=>"create", :controller=>"histories"} do |f| %>
                        <%= f.hidden_field :sending_btc_address, :value => ad.btc_address %>
                        <%= f.hidden_field :address_id_for_history, :value => ad.id %>
                        <%= f.submit "History", :class => 'history_button btn btn-w btn-round btn-m' %> 
                      <% end %>
                      <!-- closes get history -->

                      <%= form_for :address, :url => {:action=>"create", :controller=>"transactions"} do |f| %>
                        <%= f.hidden_field :address_description, :value => ad.stringified_description %>
                        <%= f.hidden_field :sending_btc_address, :value => ad.btc_address %>
                        <%= f.hidden_field :sending_private_key, :value => ad.private_key %>
                        Sell to <%= f.collection_select( :user_id, @users, :id, :name, {:prompt => " "}, {:data => 'dropdown'}) %><br>
                        <%= f.submit "Send", :class => 'sell_button btn btn-w btn-round btn-m'%> <br>
                        
                      <% end %>
                      <!-- closes transaction create (SELL) -->
           
                    </div> <!--  gallery description end -->
                  </div> <!-- gallery item end -->
                </div> <!-- div col-sm-6 end -->
              <% end %> <!-- current bottles map end -->  
    </div><!-- .row end -->
  </div>

  <!-- FORMER BOTTLES  -->
  <div class="container ">
      <h2 class='title'> Former Bottles </h2><br><br>
        <div class="row multi-columns-row">
          <!-- Gallery item start --> 
          <% @former_bottles.map do |ad| %>
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="gallery-item">
              <%=image_tag(ad.avatar.url(:thumb), :class => "gallery")%>
                <div class="gallery-description">
                  <div class="blocktrail"><a href="https://www.blocktrail.com/tBTC/address/<%=ad.btc_address%>"><%=ad.stringified_description%></a></div>    
                </div> <!--  gallery description end -->
            </div> <!-- gallery item end -->
          </div> <!-- div col-sm-6 end -->
        <% end %> <!-- current bottles map end -->  

      </div><!-- .row end -->
    </div>
</section>



<!-- MAKE BOTTLE -->

