<h1>unusable space</h1><br><br><br><br>
<h2> Your Wine Cellar <br></h2>
<strong>Most recent bottle created:</strong> <br>
<%=@user.addresses.last.btc_address%><br>
Created at <%=@user.addresses.last.created_at%><br>
Address ID #<%=@user.addresses.last.id%>.<br> 
Belongs to user #<%=@user.addresses.last.user_id%>.  
<br><br>
<strong>All your bottles:</strong> <br>
<%= @user.addresses.map do |ad| %> 
<li>
<p>
Bitcoin address: <%= ad.btc_address %> <br>
Address ID #<%= ad.id%>.<br>
Belongs to user #<%=ad.user_id%>.  
</p>
<div>


<%= form_for :address, :url => {:action=>"create", :controller=>"transactions"} do |f| %>
  <%= f.hidden_field :address_description, :value => ad.description %>
    <%= f.hidden_field :sending_btc_address, :value => ad.btc_address %>
    <%= f.hidden_field :sending_private_key, :value => ad.private_key %>
  <%= f.collection_select( :user_id, @all_users, :id, :name, {:prompt => true}) %>
    <%= f.submit"Sell"%> <br>

<% end %>


</div>
</li> 
<%end%> 

