<%= render "layouts/nav_bar" %>


  <div class="jumbotron">
      <div class="container ">
        <h1>Your Wine Cellar </h1>
        <br><br><br><br>
      </div>
  </div


<section class="module">
  <div class="container">
<h3 class='title'> Current Bottles </h3><br><br>
    <div class="row multi-columns-row">
          <!-- Gallery item start -->          
      
      <%= @current_bottles.map do |ad| %>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="gallery-item">
          
            <a href="assets/images/section-1.jpg" class="gallery" title="Title 1">
            <%=image_tag(ad.avatar.url(:thumb), :class => "gallery")%>
              <div class="gallery-description">

                  
                      <div class="description"><%=ad.stringified_description%></div>
                      <div class="blocktrail"><a href="https://www.blocktrail.com/tBTC/address/<%=ad.btc_address%>">Find Me on the Blockchain</a></div>

                  <%= form_for :address, :url => {:action=>"create", :controller=>"transactions"} do |f| %>
        <%= f.hidden_field :address_description, :value => ad.stringified_description %>
        <%= f.hidden_field :sending_btc_address, :value => ad.btc_address %>
        <%= f.hidden_field :sending_private_key, :value => ad.private_key %>
        <%= f.collection_select( :user_id, @users, :id, :name, {:prompt => true}) %>
        <%= f.submit "Sell" %> 
      <% end %>
      <!-- closes sell -->
      <% if flash[:notice] %>
        <div class="notice">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <!-- to flash a message that sale has to have a recipient -->

      <%= form_for :address, :url => {:action=>"create", :controller=>"verifications"} do |f| %>
        <%= f.hidden_field :sending_btc_address, :value => ad.btc_address %>
        <%= f.submit "Verrrrrify" %> 
      <% end %>
      <!-- closes verify -->

      <%= form_for :address, :url => {:action=>"create", :controller=>"histories"} do |f| %>
       <%= f.hidden_field :sending_btc_address, :value => ad.btc_address %>
       <%= f.hidden_field :address_id_for_history, :value => ad.id %>
       <%= f.submit "Get History" %> 
        </ul>
      <% end %>
      <!-- closes get history -->
    <hr>
    <br>
    <br>
                
              </div>
            </a>
          
        </div>
      </div>
      <% end %>
          <!-- Gallery item end -->
    </div><!-- .row -->
  </div>
</section>









<section class="module">
  <div class="container">
<h3 class='title'> Past Bottles </h3><br><br>
    <div class="row multi-columns-row">
          <!-- Gallery item start -->          
      
      <%= @former_bottles.map do |ad| %>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="gallery-item">
          
            <a href="assets/images/section-1.jpg" class="gallery" title="Title 1">
            <%=image_tag(ad.avatar.url(:thumb), :class => "gallery")%>
              <div class="gallery-description">

                  
                      <div class="description"><%=ad.stringified_description%></div>
                      <div class="blocktrail"><a href="https://www.blocktrail.com/tBTC/address/<%=ad.btc_address%>">Find Me on the Blockchain</a></div>

    <hr>
    <br>
    <br>
                
              </div>
            </a>
          
        </div>
      </div>
      <% end %>
          <!-- Gallery item end -->
    </div><!-- .row -->
  </div>
</section>










  <% if current_user && current_user.is_vineyard %>
    <p> Because you are a vineyard you can <strong> create an address that draws a balance from our testnet coin stash</strong>.<br> 
    </p>
    <%= button_to "Register a new bottle", new_wine_faucet_path, method: :get %>
   <% end %> 
 <!-- closes vineyard authentication -->
  <br>  

  
  <strong>Your Former Cellar:</strong>
    <%= @former_bottles.map do |ad| %> 
      <ul>
      <!-- get rid of btc address before final presentation -->
      <li><%= ad.stringified_description %></li>
      <li>Bitcoin Address: <%= ad.btc_address %></li>
      <li>Bottle ID #<%= ad.id%></li>
      <li><a href="https://www.blocktrail.com/tBTC/address/<%=ad.btc_address%>">Find Me on the Blockchain</a></li>
      <li>Transaction Date: <%= ad.created_at%>.</li>
      <!-- Bottled at: vineyard_name: 
      Purchased: // or, if vineyard, registered: -->

      <%= form_for :address, :url => {:action=>"create", :controller=>"verifications"} do |f| %>
        <%= f.hidden_field :sending_btc_address, :value => ad.btc_address %>
        <%= f.submit "Verrrrrify" %> 
      <% end %>
      <!-- closes verify -->

      <%= form_for :address, :url => {:action=>"create", :controller=>"histories"} do |f| %>
      <%= f.hidden_field :sending_btc_address, :value => ad.btc_address %> 
      <%= f.hidden_field :address_id_for_history, :value => ad.id %>
       <%= f.submit "Get History" %> 
        </ul>
      <% end %>
      <!-- closes get history -->
    <hr>
    <br>
    <br>
    <% end %>
    <!-- closes @former_bottles.map -->