<% if current_user && current_user.is_vineyard %>
  <p><strong> You are using a Vineyard Level account </strong></p> 
  

  <%= link_to "Register a new bottle", new_wine_faucet_path%>
  <p> Because you are a vineyard you can <strong> create an address that draws a balance from our testnet coin stash</strong>.<br> Anyone can create an address, but only vineyards can get their own balance. 
  </p>

  <h2>Your Wine Cellar:</h2>
  <hr>
  <strong>Most recent bottle created:</strong>
  <ul>
    <li>Address: <%=@user.addresses.last.btc_address%></li>
    <li>Created at <%=@user.addresses.last.created_at%></li>
    <li>Address ID #<%=@user.addresses.last.id%>.</li>
    <li>Belongs to user #<%=@user.addresses.last.user_id%>.</li>
    <li>Description: <%=@user.addresses.last.description%>.</li>
  </ul>
  <hr>

  <strong>Your current cellar:</strong>
  <%= @user.addresses.map do |ad| %> 
    <ul>
      <li>Bitcoin address: <%= ad.btc_address %></li>
      <li>Address ID #<%= ad.id%>.</li>
      <li>Bottle description: <%= ad.description %></li>
      <li>Belongs to user #<%=ad.user_id%>.</li>
      <%= form_for :address, :url => {:action=>"create", :controller=>"transactions"} do |f| %>
        <%= f.hidden_field :address_description, :value => ad.description %>
        <%= f.hidden_field :sending_btc_address, :value => ad.btc_address %>
        <%= f.hidden_field :sending_private_key, :value => ad.private_key %>
        <%= f.collection_select( :user_id, @all_users, :id, :name, {:prompt => true}) %>
        <%= f.submit "Sell" %> 
      <% end %>

      <%= form_for :address, :url => {:action=>"create", :controller=>"verifications"} do |f| %>
        <%= f.hidden_field :sending_btc_address, :value => ad.btc_address %>
        <%= f.submit "Verrrrrify" %> 
      <% end %>

      <%= form_for :address, :url => {:action=>"create", :controller=>"histories"} do |f| %>
       <%= f.hidden_field :sending_btc_address, :value => ad.btc_address %>
       <%= f.submit "Get History" %> 
    </ul>
      <% end %>
    <hr>
    </br>
  <% end %> 

    <strong>Your former cellar:</strong>
      Insert former bottles here
<% end %>

