<h1>unusable space</h1><br><br><br><br>

<h2>Register A New Wine Bottle:</h2>

  <br>
  <ul>
  <%= form_for @address do |f| %> 
    
      <%= f.label :vineyard_name %>
    <li>  <%= f.text_field :vineyard_name, :placeholder => "vineyard name"%>
    </li> 

      <%= f.label :wine_type %>
    <li>  <%= f.text_field :wine_type, :placeholder => "wine type"%>
    </li> 

      <%= f.label :vintage %>
    <li>  <%= f.text_field :vintage, :placeholder => "vintage"%>
    </li> 

      <%= f.label :provenance %>
    <li>  <%= f.text_field :provenance, :placeholder => "provenance"%>
    </li> 

      <%= f.label :designation %>
    <li>  <%= f.text_field :designation, :placeholder => "designation (optional)"%>
    </li> 
    
      <%= f.label :brand_name %>
    <li>  <%= f.text_field :brand_name, :placeholder => "brand (optional)"%>
    </li> 

    <br>
    <%= f.submit "Submit" %> 
    </ul>

  <%end%> 
