<section class="module-small bg-dark bg-dark-60">
      <div class="container">

        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <h1 class="module-title font-alt">Login</h1>
          </div>
        </div><!-- .row -->
      </div>
    </section>


<!--     end of banner start of login form
 -->
<div class="container login">
<div class=".col-md-offset-3">

            <h4 class="font-alt">Log In</h4>

            <!-- Divider -->
            <hr class="divider-w mb-10">
            <!-- Divider -->
            
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true %>
            </div>

            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div><br><br>


            <div class="actions">
              <%= f.submit "Log in" %>
            </div>
          <% end %>
</div>
</div>
