<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">

  <div class="container">
  
    <div class="navbar-header">
      <a class="navbar-brand top-text">Stem</a>
    </div>
  
    <div class="collapse navbar-collapse" id="custom-collapse">
      <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right stem">
          <li class ="dropdown authentication greeting">                 
          <div>
            <li><a><strong> Hello, <%=current_user.name %></strong></a></li>
            <li><%= link_to "See your cellar", current_user%></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete%></li>
          </div>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'authentication'%> |
        <%= link_to "Log in", new_user_session_path, :class => 'authentication'  %>
      <% end %>
     </div>
    </div>
  </div>
</nav>

