<!DOCTYPE html>
<html>
<head>
  <title>Stem - the Wine Project</title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Montserrat|Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'https://maps.google.com/maps/api/js?sensor=true' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>

  
</head>
<body>




<%= yield %>



</body>
</html>
